<ol class="breadcrumb">
  <li>{{link-to 'Home' "application"}}</li>
  <li>{{link-to model.note.title "notes.show" model}}</li>
  <li>{{model.title}}</li>
</ol>

<div>{{model.title}}</div>
<div>{{model.body}}</div>
