<ol class="breadcrumb">
  <li>{{link-to 'Home' "application"}}</li>
  <li>{{link-to model.title "notes.show" model}}</li>
  <li>Note編集</li>
</ol>

<form>
  {{input type="text" value=model.title size="50"}}
  {{textarea value=model.body cols="80" rows="6"}}
  <button {{action "updateNote" model}}>保存する</button>
</form>
