<ol class="breadcrumb">
  <li>{{link-to 'Home' "application"}}</li>
  <li>Note作成</li>
</ol>

<form>
  {{input type="text" value=model.title size="50"}}
  {{textarea value=model.body cols="80" rows="6"}}
  <button {{action "createNote" model}}>作成</button>
  <button {{action "destroyNote" model}}>キャンセル</button>
</form>
